@import "compass/css3"
@import "normalize"
// CUSTOM IMPORTS
@import "fonts"
@import "animation"
@import "layout"
// BOILERPLATE IMPORTS
@import "helperclasses"
@import "print"


//////////////////////////////
// Variables
//////////////////////////////
// Main Color Palette

// Accent Colors
$white: #fff
$maintextcolor: #222



//////////////////////////////
// Mixins
//////////////////////////////


    

//////////////////////////////
// Global Styles
//////////////////////////////
*
    +box-sizing(border-box)

html,
button,
input,
select,
textarea
    color: $maintextcolor

html
    -webkit-font-smoothing: antialiased
    font-smoothing: antialiased
body    
    font-size: $base-font-size
    line-height: 1.4
    @include respond-to(tablet-portrait)
        font-size: em(18px)
    @include respond-to(tablet-landscape-desktop)
        font-size: em(22px)
    @include respond-to(large-desktop)
        font-size: em(24px)

::-moz-selection
    background: rgba(0,0,0,.3)
    text-shadow: none

::selection 
    background: rgba(0,0,0,.3)
    text-shadow: none

hr 
    display: block
    height: 1px
    border: 0
    border-top: 1px solid #ccc
    margin: 1em 0
    padding: 0

img 
    vertical-align: middle

fieldset 
    border: 0
    margin: 0
    padding: 0

textarea
    resize: vertical

.chromeframe
    margin: 0
    background: coral
    color: $white
    padding: 1em 0
    text-align: center
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif




//////////////////////////////
// Custom Styles
//////////////////////////////



// span-columns(<$columns> [<omega> , <$context>, <$padding>, <$from>, <$style>])
// aside,
// article
//     min-height: 600px
// aside
//     background: coral
// article
//     background: brown


$green: #abffd6
$ltgrey: #e6e6e6
$dkgrey: #5b5558
*
    +box-sizing(border-box)
h5
    margin: 0
    font-size: 18px
ul
    list-style: none
    max-width: 288px
li
    margin-bottom: 4px
a
    min-height: 42px
    background: #e6e6e6
    padding: 10px
    display: block
    color: $dkgrey
    text-decoration: none
    +transition(2s ease-in all)
    &:last-child
        margin-bottom: 0
p
    margin: 0
    overflow: hidden
    max-height: 0
    font-size: 13px
    +transition(1s ease-in all)
    // +translate3d(translate3d(0, 0, 0) scale(0.001))
.flipInX
    a
        //height: auto
        min-height: 42px
    a,
    p
        background: $green
        // +translate3d(translate3d(0, 0, 0) scale(1))
        // +transition(all 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0.2s)
    p
        max-height: 100%

    
    




